<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrkizzy.blog.mapper.MenuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zrkizzy.blog.entity.Menu">
        <id column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="permission" property="permission"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="requireAuth" property="requireAuth"/>
        <result column="parentId" property="parentId"/>
        <result column="enabled" property="enabled"/>
        <result column="createTime" property="createTime"/>
    </resultMap>
    
    <!-- 根据角色获取菜单列表 -->
    <resultMap id="MenuWithRole" type="com.zrkizzy.blog.entity.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="com.zrkizzy.blog.entity.Role">
            <id column="rid" property="id" />
            <result column="rname" property="roleName" />
            <result column="rnameZh" property="roleNameZh" />
        </collection>
    </resultMap>

    <!-- 根据角色获取菜单列表 -->
    <select id="getMenuWithRole" resultMap="MenuWithRole">
        SELECT
            m.*,
            r.id AS rid,
            r.role_name AS rname,
            r.role_name_zh AS rnameZh
        FROM
            menu m,
            menu_role mr,
            role r
        WHERE
            m.id = mr.menu_id
          AND r.id = mr.role_id
    </select>

    <!-- 根据角色获取菜单列表 -->
    <resultMap id="Menus" type="com.zrkizzy.blog.entity.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.zrkizzy.blog.entity.Menu">
            <id column="id2" property="id"/>
            <result column="url2" property="url"/>
            <result column="path2" property="path"/>
            <result column="component2" property="component"/>
            <result column="permission2" property="permission"/>
            <result column="name2" property="name"/>
            <result column="icon2" property="icon"/>
            <result column="requireAuth2" property="requireAuth"/>
            <result column="parentId2" property="parentId"/>
            <result column="enabled2" property="enabled"/>
            <result column="createTime2" property="createTime"/>
        </collection>
    </resultMap>

    <select id="getMenusByUserId" resultMap="Menus">
        SELECT DISTINCT
            m1.*,
            m2.id AS id2,
            m2.url AS url2,
            m2.path AS path2,
            m2.component AS component2,
            m2.permission AS permission2,
            m2.`name` AS name2,
            m2.icon AS icon2,
            m2.require_auth AS requireAuth2,
            m2.parent_id AS parentId2,
            m2.enabled AS enabled2
            m2.create_time AS createTime2
        FROM
            menu m1,
            menu m2,
            menu_role mr,
            user_role ur
        WHERE
            m1.id = m2.parent_id
          AND m2.id = mr.menu_id
          AND mr.role_id = ur.role_id
          AND ur.user_id = #{userId}
          AND m2.enabled = 1
    </select>

    <!-- 根据用户ID获取当前用户具有的菜单权限 -->
    <select id="getPermissionByUserId" resultType="java.lang.String">
        SELECT DISTINCT
            m1.permission
        FROM
            menu m1,
            menu m2,
            menu_role mr,
            role r,
            user_role ur
        WHERE
            m1.id = m2.parent_id
          AND m2.id = mr.menu_id
          AND mr.role_id = ur.role_id
          AND ur.user_id = #{userId}
          AND m2.enabled = 1
    </select>


    <select id="selectAccessPath" resultType="java.lang.String">
        SELECT m.path
        FROM menu m
        WHERE
            m.path != '/'
            AND m.id IN
            <foreach collection="ids" item="id" separator="," open="(" close=")">
               #{id}
            </foreach>
    </select>

    <select id="selectPermission" resultType="java.lang.String">
        SELECT DISTINCT
            m.permission
        FROM
            menu m
        WHERE
            m.enabled = 1
          AND
            m.id IN
            <foreach collection="ids" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
    </select>

</mapper>