<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrkizzy.blog.mapper.MenuRoleMapper">
    <!-- 为指定用户添加权限 -->
    <insert id="insertRoles">
        INSERT INTO menu_role(menu_id, role_id) VALUES
        <foreach collection="ids" item="id" separator=",">
            (#{id}, #{roleId})
        </foreach>

    </insert>

    <select id="getAccessPath" resultType="java.lang.String">
        SELECT
            m.path
        FROM
            menu m,
            user_role ur,
            `user` u,
            menu_role mr
        WHERE
            u.id = #{userId}
          AND ur.user_id = u.id
          AND ur.role_id = mr.role_id
          AND mr.menu_id = m.id
          AND m.enabled = 1
    </select>
</mapper>