<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrkizzy.blog.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zrkizzy.blog.entity.Resource">
        <id column="id" property="id" />
        <result column="resource_name" property="resourceName" />
        <result column="url" property="url" />
        <result column="request_method" property="requestMethod" />
        <result column="parent_id" property="parentId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resource_name, url, request_method, parent_id, create_time
    </sql>

    <select id="getResourceById" resultType="java.lang.Integer">
        SELECT resource_id
        FROM resource_role
        WHERE role_id=#{roleId}
    </select>

</mapper>
